@import "./normalize.css";

body {
  font-family: 'Roboto', sans-serif;
  color: #222;
}

.app_wrapper {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media (max-width: 800px) {
  .app_wrapper {
    width: 95%;
  }
}

.app_content {
  flex: 1;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

main > div {
  width: 33%;
}

footer {
  /*text-align: center;*/
  margin: 2rem auto 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_github {
  margin: auto 0.5rem auto 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_github_img {
  width: 24px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  width: 6rem;
  height: 2.5rem;
  cursor: pointer;
  line-height: 1rem;
  color: #fff;
  font-weight: 500;
  text-transform: none;
  transition: all 60ms ease-in-out;
  user-select: none;
}
.button:hover {
  opacity: .95;
  transition: all 60ms ease;
}
.button:active {
  opacity: .75;
  transform: scale(0.97);
  transition: all 60ms ease;
}

.button.-rounded {
  border-radius: 1.25rem;
}

.button.-blue {
  background: #2b90d9;
  color: #FFFFFF;
}

.button.-red {
  background: #ff7473;
  color: #FFFFFF;
}

.button.-canvas {
  margin: 0 0.5rem;
}

.button.-mode {
  width: auto;
  height: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}